/*
Colors
	 #392338 - Cyan
	 #fff - transparent
*/


body {

	/* pre-created */
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* / pre-created */

	/* By me */
	box-sizing: border-box;
	background-color: #fff;
	/* / By me  */

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
